/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

button {
  padding: 10px;
  background: #bbe5f2;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}